= render partial: "tops/header"
.wrapper
  .main-result
    .result
      .result__pi-chart
        %h2.result__pi-chart__mood
          Your Feelings
        %h2.result__pi-chart__week
          Weekly Average
        .result__pi-chart__visual
          %canvas#myChartWeek{:height => "100", :width => "400"}
          :javascript
            if (gon.chartWeeks_ave) {
              draw_graphWeek()
            } else {
            };
        %h2.result__pi-chart__month
          Monthly Average
        .result__pi-chart__visual
          %canvas#myChartMonth{:height => "100", :width => "400"}
            :javascript
              if (gon.chartMonths_ave) {
                draw_graphMonth()
              } else {
              };
