.wrapper-api
  .api-form
    %h1.api-form__title
      Check Mood
    = form_tag emotions_result_path do
      .api-form__url
        = icon('fas','user-circle')
        %h2.api-form__url__title
          Face Image (URL) 
      = text_field_tag :url, "", class: "api-form__url__input", placeholder: "https://......"
      = submit_tag "CHECK", class: "api-form__url__action-btn"