= render partial: "layouts/header"
.wrapper
  .main-result
    .result
      .result__pi-chart
        %h2.result__pi-chart__mood
          Your Feeling
        .result__pi-chart__visual
          %canvas#myChartDay{:height => "100", :width => "400"}
          :javascript
            if (gon.chartData) {
              draw_graphDay()
            } else {
            };
        .result__pi-chart__history
          = link_to emotions_path do
            View History
