.header {
  width: 100%;
  padding: 20px 0;
  background-color: rgb(24,46,96);
  &__content {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left-side {
      display: flex;
      align-items: center;
      &__serviceName {
        font-size: 25.5px;
        font-weight: 600;
        letter-spacing: -0.07em;
        &__content {
          color: white;
          text-decoration: none;
          display: flex;
          align-items: center; 
          i {
            font-size: 40px;
            margin-right: 6px;
          }
          &__name {
          }
        }
      }
    }
    .right-side {
      &__user {
        &--btn {
          color: rgb(241,237,234);
          font-size: 20px;
          font-weight: 500;
          text-decoration: none;  
          margin-left: 14px;
        }
        &--btn:hover {
          color: rgb(0,195,230);
          font-size: 20px;
          font-weight: 500;
          text-decoration: none;  
          margin-left: 14px;
        }
      }
    } 
  }
}


@media (max-width: 1150px) {
  /* 1024pxまでの幅の場合に適応される */
  .header {
    width: 100%;
    padding: 20px 0;
    background-color: rgb(24,46,96);
    &__content {
      width: 944px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .left-side {
        display: flex;
        align-items: center;
        &__serviceName {
          font-size: 25.5px;
          font-weight: 600;
          letter-spacing: -0.07em;
          &__content {
            color: white;
            text-decoration: none;
            display: flex;
            align-items: center; 
            i {
              font-size: 40px;
              margin-right: 6px;
            }
            &__name {
            }
          }
        }
      }
      .right-side {
        &__user {
          &--btn {
            color: rgb(241,237,234);
            font-size: 20px;
            font-weight: 500;
            text-decoration: none;  
            margin-left: 14px;
          }
          &--btn:hover {
            color: rgb(0,195,230);
            font-size: 20px;
            font-weight: 500;
            text-decoration: none;  
            margin-left: 14px;
          }
        }
      } 
    }
  }
}


@media (max-width: 950px) {
  /* 1024pxまでの幅の場合に適応される */
  .header {
    width: 100%;
    padding: 20px 10px;
    background-color: rgb(24,46,96);
    &__content {
      width: 100%;
      margin: 0 auto;
      // display: flex;
      // align-items: center;
      // justify-content: space-between;
      .left-side {
        // display: flex;
        // align-items: center;
        &__serviceName {
          font-size: 25.5px;
          font-weight: 600;
          letter-spacing: -0.07em;
          &__content {
            color: white;
            text-decoration: none;
            display: flex;
            align-items: center; 
            i {
              font-size: 40px;
              margin-right: 6px;
            }
            &__name {
            }
          }
        }
      }
      .right-side {
        &__user {
          &--btn {
            color: rgb(241,237,234);
            font-size: 20px;
            font-weight: 500;
            text-decoration: none;  
            margin-left: 14px;
          }
          &--btn:hover {
            color: rgb(0,195,230);
            font-size: 20px;
            font-weight: 500;
            text-decoration: none;  
            margin-left: 14px;
          }
        }
      } 
    }
  }
}







