.playlist {
  width: 100%;
  height: 100vh;
  background:radial-gradient(farthest-side circle at center top, rgb(40, 81, 177),rgb(28, 54, 114));
  padding: 40px;
  overflow: scroll;
  .title {
    color: white;
    font-weight: 700;
    font-size: 1.2em;
    letter-spacing: 0.04em;
    border-bottom: 1px solid rgb(0, 85, 150);
    padding-bottom: 8px;
    // letter-spacing: -0.02em;
  }
  .jackets {
    width: 100%;
    color: rgb(230, 230, 230);
    margin-bottom: 20px;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    &__image {
      padding: 20px;
      margin-bottom: 20px;
      background-color: rgb(0, 96, 170);
      border-radius: 10px;
      display: inline-block;
      margin: 18px 14px 14px 0;
      &__place {
        width: 136px;
        color: white;
        font-weight: 450;
        font-size: 1em;
        letter-spacing: 0.04em;
        margin-top: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &__mood {
        width: 136px;
        color: white;
        font-weight: 450;
        font-size: 1em;
        letter-spacing: 0.04em;
        margin-top: 2px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: flex;
        align-items: center;
        &__picture {
          font-size: 1.3em;
          margin-left: 6px;
        }
      }
      &__existing {
        img {
          width: 136px;
          height: 136px;
          background: rgb(151, 152, 153);
        }
      }
      &__nothing {
        width: 136px;
        height: 136px;
        background: rgb(137, 138, 139);
        text-align: center;
        i {
          padding-top: 40px;
          font-size: 3.0em;
          color: rgb(164, 166, 168);
        }
      }
      :hover {
        opacity: 0.5;
      }
    }
    &__image:nth-child(4n+2):last-child {
      margin-right: 47.7rem;
    }
    &__image:nth-child(4n+3):last-child {
      margin-right: 35.75rem;
    }
    &__image:nth-child(4n+4):last-child {
      margin-right: 23.75rem;
    }
    &__image:nth-child(4n+5):last-child {
      margin-right: 11.85rem;
    }
  }
}


#noPlaylist {
  width: 100%;
  color: white;
  font-weight: 700;
  font-size: 2em;
  margin: 0 auto;
  padding-bottom: 0.5em;
}
#noPlaylist-explanation {
  width: 100%;
  color: rgb(217, 228, 255);
  font-weight: 300;
  font-size: 1em;
  letter-spacing: 0.04em;
  margin: 0 auto;
}