.wrapper-music {
  width: 100%;
  height: 100vh;
  display: flex;
  .side-menu {
    width: 234px;
    background-color: rgb(24,46,96);
    display: flex;
    flex-direction: column;
    &__serviceName {
      padding: 24px;
      font-size: 25.5px;
      font-weight: 600;
      letter-spacing: -0.07em;
      a {
        text-decoration: none;
        color: white;
        display: flex;
        align-items: center;
        i {
          font-size: 40px;
          margin-right: 6px;
        }
        &__title {
        }
      }
    }
    &__home {
      padding: 0  24px 16px 24px;
      font-weight: 450;
      letter-spacing: 0.05em;
      :hover {
        background-color: rgb(0,105,183);
        color: white;
      }
      a {
        text-decoration: none;
        color: rgb(211, 211, 211);
        display: flex;
        align-items: center;
        i {
          font-size: 1.3em;
          margin-right: 8px;
        }
      }
    }
    &__form {
      padding: 0  24px 16px 24px;
      #playlist__search-field {
        width: 100%;
        line-height: 26px;
        padding: 0 10px;
        box-sizing: border-box;
        border-radius: 13px;
        border:none;
      }
    }
    &__feeling {
      font-size: 0.78em;
      font-weight: 200;
      color: rgb(211, 211, 211);
      letter-spacing: 0.18em;
      padding: 0  24px;
    }
    &__playlist {
      width: 100%;
      height: 100vh;
      overflow: scroll;
      margin-top: 6px;
      padding: 0  24px 16px 24px;
      font-weight: 250;
      letter-spacing: 0.1em;
      .list {
        width: 100%;
        margin-bottom: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        a {
          text-decoration: none;
          color: rgb(211, 211, 211);
          :hover {
            background-color: rgb(0,105,183);
            color: white;
          }
        }
      }
    }
    &__newPlaylist {
      font-weight: 300;
      letter-spacing: 0.02em;
      border-top : solid 1px rgb(0, 74, 131);
      padding-top: 44px;
      padding-bottom: 40px;
      margin-top: auto;
      a {
        text-decoration: none;
        color: rgb(211, 211, 211);
        display: flex;
        align-items: center;
        margin: 0 24px;
        i {
          font-size: 1.3em;
          margin-right: 8px;
        }
      }
      :hover {
        background-color: rgb(0, 96, 170);  
        color: white;
      }
    }
  }
  
}
