.main-result {
  width: 100%;
  height: 100vh;
  padding: 40px 230px;
  background-color :rgb(1, 105, 183);
  .result {
    background: radial-gradient(rgb(0, 117, 207), rgb(24,46,96)); 
    padding: 40px;
    border-radius: 5px;
    &__pi-chart {
      color: rgb(230, 230, 230);
      text-align: center;
      letter-spacing: 0.04em;
      &__mood {
        font-weight: 200;
        font-size: 1.3em;
        margin-bottom: 20px;
      }
      &__week {
        font-weight: 200;
        font-size: 1.1em;
      }
      &__month {
        font-weight: 200;
        font-size: 1.1em;
        margin-top: 30px;
      }
      &__visual {
      }
      &__history {
        margin-top: 40px;
        a {
          color: rgb(230, 230, 230);
          text-decoration: none;
          border: solid 1px rgb(230, 230, 230);
          border-radius: 40px;
          padding: 6px 40px;
        }
      }
    }
  }
}

