* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Yu Gothic", YuGothic, sans-serif;
}

.wrapper {
 width: 100%;
 height: 100vh;
 background-image: url("/images/Oscillatoscope2b-_11.jpg");
 background-size: cover;
}

.main-content {
  height: 100vh;
  background-color :rgba(183,78,0,0.4); 
  padding: 57.5px 230px;
  letter-spacing: 0.02em;
  font-size: 24px;
  &__user-name {
    color: white;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.04em;
    padding: 8px 8px 8px 10px;
    border-radius: 22px;
    background-color: rgba(0, 0, 0, 0.2);
  }
  &__copy {
    text-shadow: 1px 1px 1px 1px #0069b7;
    color: rgb(29, 55, 114);
    &__main {
      font-size: 50px;
      font-weight: bold;
      letter-spacing: -0.08em;
      line-height: 60px;
    }
    &__secound {
      font-size: 25px;
      font-weight: 500;
      letter-spacing: -0.12em;
      line-height: 35px;
      margin-top: 6px;
      margin-bottom: 16px;
    }
  }
  &__service {
    display: flex;
    font-size: 20px;
    &__music {
      width: 100%;
      height: 50px;
      position: relative;
      z-index: 1;
      background: rgb(0,174,204);
      border-radius: 26px;
      margin-right: 20px;
      text-shadow: 1px 1px 1px 1px #0069b7;
      a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        color: white;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        i {
          margin-right: 8px;
        }
        h2 {
          font-weight: 500;
        }
      } 
    }
    &__bio {
      width: 100%;
      height: 50px;
      position: relative;
      z-index: 1;
      background: rgb(0,174,204);
      border-radius: 26px;
      text-shadow: 1px 1px 1px 1px #0069b7;
      a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        color: white;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        i {
          margin-right: 8px;
        }
        h2 {
          font-weight: 500;
        }
      }   
    }
    :hover {
      background-color: rgb(0, 195, 230);
      border-radius: 20px;
    } 
  }
}